<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
  <a class="navbar-brand mr-5" href="#"><i class="fa fa-check-square mr-3"></i>Taskinator</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#appNav" aria-controls="appNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="appNav">
    <ul class="nav-links navbar-nav mr-auto">
      <li class="nav-item mr-3" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" routerLink="/" >Home</a>
      </li>
      <li *ngIf="authService.isLoggedIn()" routerLinkActive="active" class="nav-item mr-3">
        <a class="nav-link" routerLink="/tasks" >Tasks</a>
      </li>
    
      <li *ngIf="authService.isLoggedIn()" routerLinkActive="active" class="nav-item mr-3">
        <a class="nav-link" routerLink="/admin" >Admin</a>
      </li>
    </ul>
    
    <ul class="navbar-nav navbar-right">
      <li class="nav-item dropdown" routerLinkActive="active" >
        <a href="#" class="nav-link dropdown-toggle" id="account-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="fa fa-user"></span> 
          {{ authService.getCurrentUser().displayName }}
        </a>
        <ul class="dropdown-menu dropdown-menu-right nav-account p-4">
          <li>
            
            <div class="row text-center text-sm-left">
              <div class="col-sm-4">
                <img class="avatar" 
                ngxGravatar 
                [email]="authService.getCurrentUser().email" 
                size="300" 
                alt="avatar">
               
              </div>
              <div class="col-sm-8 mt-3 mt-sm-0 details">
                <span class="d-block font-weight-bold">{{ authService.getCurrentUser().displayName }}</span>
                <span class="d-block small text-muted">{{ authService.getCurrentUser().email }}</span>
                <button routerLink="/account" class="btn btn-primary btn-block btn-sm">Account</button>
              </div>
            </div>
            
          </li>
          <li class="divider"></li>
          <li>
            
            <div *ngIf="authService.isLoggedIn()" class="row mt-2">
              <div class="col-lg-12">
                <button (click)="logout()" class="btn btn-outline-danger btn-block">  <i class="fa fa-sign-out"></i> Sign out</button>
              </div>
            </div>
            
          </li>
        </ul>
      </li>
    </ul>
    
    
  </div>
</nav>