<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand mr-3" href="#">Webapp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
      </li>
      <li *ngIf="authService.isLoggedIn()" class="nav-item">
        <a class="nav-link" routerLink="/tasks" routerLinkActive="active">Tasks</a>
      </li>
      <li *ngIf="authService.isLoggedIn() && authService.getCurrentUser().isAdmin" class="nav-item">
        <a class="nav-link" routerLink="/admin" routerLinkActive="active">Admin</a>
      </li>
    </ul>
    
    <ul class="navbar-nav navbar-right">
      <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" id="account-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="fa fa-user"></span> 
          {{ authService.getCurrentUser().firstName }}
        </a>
        <ul class="dropdown-menu dropdown-menu-right nav-account">
          <li>
            
            <div class="row text-center text-sm-left">
              <div class="col-sm-4">
                <img class="avatar" src="{{ authService.getCurrentUser().avatar }}" alt="{{ authService.getCurrentUser().firstName }}" />
              </div>
              <div class="col-sm-8 mt-2 mt-sm-0 details">
                <span class="d-block font-weight-bold">{{ authService.getCurrentUser().firstName }} {{ authService.getCurrentUser().lastName }}</span>
                <span class="d-block small text-muted">{{ authService.getCurrentUser().email }}</span>
                <button class="btn btn-primary btn-block btn-sm">Account</button>
              </div>
            </div>
            
          </li>
          <li class="divider"></li>
          <li>
            
            <div *ngIf="authService.isLoggedIn()" class="row">
              <div class="col-lg-12">
                <button (click)="logout()" class="btn btn-danger btn-block">  <i class="fa fa-sign-out"></i> Sign out</button>
              </div>
            </div>
            
          </li>
        </ul>
      </li>
    </ul>
    
    
  </div>
</nav>