<app-nav></app-nav>

<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="display-4 m-5">Admin</h1>
      
      <app-spinner [hideSpinner]="hideSpinner" message="Loading users..."></app-spinner>
      <ul class="list-group">
        <li class="list-group-item user" *ngFor="let user of users">
          <div class="text-center text-sm-left d-flex justify-content-between align-items-center">
            <div class="mr-3 d-flex align-items-center">
              <div class="mr-3">
                  <img class="avatar" 
                  ngxGravatar 
                  [email]="user.email" 
                  size="50" 
                  alt="avatar">
              </div>
              <div>
                  <span class="d-block font-weight-bold">{{ user.displayName }}</span>
                  <span class="d-block small text-muted">{{ user.email }}</span>
                </div>
            </div>
           
            <div class="h5 m-0">
              {{ user.taskCount }} task{{ (user.taskCount == 1)?'':'s' }}
            </div>
          </div>
          
          
        </li>
      </ul>
      
      
    </div>
    
  </div>
</div>