/* You can add global styles to this file, and also import other style files */

body {
    padding-top: 3.5rem;
  }
.nav-links {
  max-width: 100vh;
  overflow-y: auto;
}

  .navbar-collapse {
    overflow-y: auto;
    max-height:80vh;
  }


  @media (min-width: 768px) {
  .navbar-collapse {
    max-height:auto;
    overflow-y:inherit;
  }

  
}